#changeProfileModalContent {
  border-radius: 0.7rem;
}
.blue {
  color: #3596f9;
}
.red {
  color: #e44753;
}
.modal-title {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._modal_item {
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
._modal_item:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}
._modal_item > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.modal-open {
  padding: 0 !important;
}
